<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
    <div>
        <center>
            <font face="宋体">
                <h1>首页</h1>
            </font>
        </center>
    </div>
    <div class="index-register">
        <a href="http://localhost:8080/register"> 注册页面 </a>
    </div>
    <div class="index-login">
        <a href="http://localhost:8080/login"> 登录页面 </a>
    </div>
</body>
</html>