<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
  <div>
    <center>
      <font face="宋体">
        <h1>登录界面</h1>
      </font>
    </center>
  </div>
  <form class="login-form" th:action="@{/login/submit}" method="post">
    用户名：<input type="text" name="username"></br>
    密码：<input type="password" name="password"></br>
    验证码：<input type="text" name="verCode"><img src="/captcha" width="130px" height="48px" /></br>
    <input class="login-form-button" type="submit" value="登录">
  </form>
  <div class="index-register">
    <a href="http://localhost:8080/register"> 注册页面 </a>
  </div>
</body>
</html>